@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>问题墙收藏管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Collections.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="CollectionsTableToolbar" role="group">
                            @if(shiro.hasPermission("/collections/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Collections.openAddCollections()"/>
                            @}
                            @if(shiro.hasPermission("/collections/update")){
                                <#button name="修改" icon="fa-plus" clickFun="Collections.openCollectionsDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/collections/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="Collections.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="CollectionsTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/collections/collections/collections.js"></script>
@}
